---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem, Media } from 'accessible-astro-components'

export async function getStaticPaths() {
  const response = await fetch('https://graphql.datocms.com/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      Accept: 'application/json',
      Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
    },
    body: JSON.stringify({
      query: `query BlogPosts {
        allBlogPosts {
          id
          title
          body(markdown: true)
          eventStartDate
          image {
            url
          }
        }
      }`,
    }),
  })

  const json = await response.json()
  const data = json.data.allBlogPosts

  // Check if there is data before mapping
  if (!data || data.length === 0) {
    console.error('No data received from DatoCMS')
    return { paths: [], fallback: true } // or fallback: false depending on your use case
  }

  return data.map((post) => {
    return {
      params: { post: post.title.replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}

export const prerender = true

const { post } = Astro.props
---

<DefaultLayout title={post.title} description={post.body} url={post.title}>
  <div class="container">
    <div class="container bg-white bg-opacity-90">
      <div class="mt-12 pt-4">
        <Breadcrumbs>
          <BreadcrumbsItem href="/" label="Hem" />
          <BreadcrumbsItem href="/event" label="Evenemang" />
          <BreadcrumbsItem currentPage={true} label={post.title} />
        </Breadcrumbs>
      </div>
    
    <section class="my-12">
      <div class="container">
        <Media class="w-full" src={post.image.url} />
      </div>
    </section>
    <section class="my-12 ">
      <div class="container">
        <h2>{post.title}</h1><br />
        <p>Evenemanget startar: {post.eventStartDate}</p><br />
        <div set:html={post.body} />
      </div>
    </section>
  </div>
</div>
</DefaultLayout>
s
<style lang="scss">
  .container {
    margin: 1rem auto;
    padding-bottom: 1rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      margin: 1rem auto;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 1rem auto;
    }
  }
</style>
