---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Events from '../components/Events.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Btn from '../components/Btn.astro'
import BtnSecondary from '../components/BtnSecondary.astro'

const response = await fetch('https://graphql.datocms.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query Homepage {
          home {
            pitch1(markdown: false)
            pitch1Title
            pitch2(markdown: false)
            pitch2Title
            pitch2Img {
              url
            }
            logo {
              url
            }
            title
          }
        }
      `,
  }),
})

const json = await response.json()
const data = json.data
const title = data.home.title
const pitch1Title = data.home.pitch1Title
const pitch1Body = data.home.pitch1
const pitch2Title = data.home.pitch2Title
const pitch2Body = data.home.pitch2
const pitch2Img = data.home.pitch2Img.url

const { page } = Astro.props
---

<DefaultLayout title={title}>
  <Hero />
  <Events />
  <section class="">
    <div class="container">
      <div class="container w-full py-12">
        <div class="container-content border bg-gray-100 bg-white bg-opacity-90 px-16 py-8">
          <h2 class="text-center">{pitch1Title}</h2>
          <p class="text-center">
            {pitch1Body}
          </p>
          <div class="btn mt-4 flex justify-center py-2">
            <BtnSecondary text="Läs mer" link="om-vastljus" />
          </div>
        </div>
        </div>
      <section class="mt-2">
        <div class="w-full px-10 py-6">
         
        </div>
      </section>
    </div>
    <section>
      <div class="container w-full py-12">
        <ContentMedia imgSrc={pitch2Img}>
          <h2>{pitch2Title}</h2>
          <p class="text">
         {pitch2Body}
            <div class="flex flex-col gap-3 min-[500px]:flex-row">
              <BtnSecondary text="Läs mer" link="event" />
            </div>
          </p>
        </ContentMedia>
        <!--  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
            <Feature icon="mdi:tailwind" title="Tailwind CSS">
              Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
            </Feature>
            <Feature icon="mdi:wheelchair-accessibility" title="a11y Components">
              17 components and counting, all tried and tested for the most optimal accessible experience for your
              visitors.
            </Feature>
            <Feature icon="mdi:looks" title="Prettier">
              Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
            </Feature>
            <Feature icon="mdi:eslint" title="ESLint">
              Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
            </Feature>
            <Feature icon="mdi:book-open-page-variant" title="Blog">
              This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
            </Feature>
            <Feature icon="mdi:language-markdown" title="Markdown & MDX">
              Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
            </Feature>
            <Feature icon="mdi:theme-light-dark" title="Dark mode">
              Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
            </Feature>
            <Feature icon="mdi:cog" title="Design System">
              The theme offers some very handy utilities to help you build your website faster.
            </Feature>
            <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
              Excellent lighthouse scores means your website will load faster and get better SEO rankings.
            </Feature>
          </div> -->
      </div>
    </section>

    <!--       <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
        <h2>WCAG 2.1 AA Compliant</h2>
        <p class="text-2xl">
          Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
          navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain
          of reaching WCAG AA compliance.
        </p>
      </ContentMedia> -->
    <!--  <section class="mb-32 mt-64">
        <div class="container">
          <h2 class="mb-16 text-6xl">Counters</h2>
          <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
            <Counter count="520" title="Stars" sub="On GitHub" />
            <Counter count="17" title="Accessible" sub="Components" />
            <Counter count="500" title="Commits" sub="Merged" />
            <Counter count="18+" title="Months" sub="Since launch" />
          </div>
        </div>
      </section> -->
  </section>
</DefaultLayout>

<style lang="scss">
  body {
    background: url('../assets/img/bg-medium.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .container-bg {
    box-shadow: 1px 8px 24px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 24px 0px rgba(0, 0, 0, 0.75);
  }

  .card {
    border: none !important;
  }

  @media screen and (max-width: 768px) {
    /* Dina mobilspecifika CSS-regler här */
    .container-bg {
      padding: 1rem;
      background-size: 100vw;

      .container-content {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
</style>
