---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Image } from 'astro:assets'

const response = await fetch('https://graphql.datocms.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query StyrelsenPage {
          allStyrelsens {
            name
            img {
              url
            }
            description
          }
        }
      `,
  }),
})

const json = await response.json()
const data = json.data.allStyrelsens

export const prerender = true;

const { page } = Astro.props
---

<DefaultLayout title="Accessible Components">
  <section class="my-4">
    <div class="space-content container"></div>
  </section>
  <section class="mt-2">
    <div class="container-styrelsen">
      {
        data.map((post) => (
          <div class="container-content container-item flex flex-col items-center border bg-gray-100 bg-white bg-opacity-80">
            <img src={post.img.url} alt={post.name} width="314" height="314" />
            <h2 class="text-center">{post.name}</h2>
            <p class="text-center">{post.description}</p>
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>

<style>
  .container-styrelsen {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    height: auto;
    margin-top: 4rem;
    margin: 9rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
  }

  .container-item {
    margin: 2rem;
  }

  @media screen and (max-width: 768px) {
    /* Dina mobilspecifika CSS-regler här */
    .container-styrelsen {
      margin-top: 0;
      padding: 1rem;
    }
  }
</style>
